
<a href="/characters/<%= character.slug %>/" class="character-preview">
  <img src="<%= character.thumbnailUrl %>" class="character-preview__image" />
  <div class="character-preview__label">
    <%= character.title %>
  </div>
</a>


