

<div class="wrap">
  <section class="section">
    <h2 class="section__title">
      Characters
      <a href="/characters" class="button">View All</a>
    </h2>

    <div class="grid grid--center">
      <% for (var i in site.data.characters.slice(0, 10)) {%>
        <div class="grid__cell grid__cell--20">
          
          <%- partial('_partial/character_preview.ejs', {character: site.data.characters[i]}) %>
        </div>
      <% } %>
    </div>
  </section>
</div>

<hr />

<div class="wrap">
  <section class="section">
    <h2 class="section__title">About the serie</h2>
    <%= site.data.homepage.description %>
  </section>
</div>

<hr />

<div class="wrap">
    <section class="section">
      <h2 class="section__title">
        Latest episodes
        <a href="/episodes" class="button">View All</a>
      </h2>
      <div class="grid">
        <% for (var i in site.data.episodes.slice(0, 6)) {%>
          <div class="grid__cell grid__cell--33">
            <%- partial('_partial/episode_preview.ejs', {episode: site.data.episodes[i]}) %>
          </div>
        <% } %>
      </div>
    </section>
  </div>
</div>
